<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if squad %}
        Success
        {% else %}
        Failure
        {% endif %}
    </title>
</head>
<body>
    {% if squad %}
    <center>
        <h1>{{ text }}</h1>
        <table cellpadding="5">
            <tr>
                <th>Squad:</th>
                <th>{{ squad }}</th>
            </tr>
            <tr>
                <th>Failed:</th>
                <th>{{ failed_tests }}</th>
            </tr>
            <tr>
                <th>Status:</th>
                <th>{{ status }}</th>
            </tr>
        </table>
    {% else %}
        No results added
    {% endif %}
    </center>
</body>

</html>